@import "variables";

$BADGE_SIZE: 1.25rem;

.project-roster {
  &-header {
    position: relative;
    &::before {
      content: " ";
      display: block;
      position: absolute;
      width: 4px;
      height: 100%;
      left: 0;
    }
    &.is-support {
      &::before {
        background-color: $brand-success;
      }
    }
  }
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-count {
    display: flex;
    align-items: center;
    justify-content: center;

    width: $BADGE_SIZE;
    height: $BADGE_SIZE;

    background-color: $brand-accent;
    color: $brand-accent-text;
    border-radius: calc($BADGE_SIZE / 2);

    font-size: 10px;
    font-weight: 600;
    white-space: nowrap;
  }
  &-empty {
    display: flex;
    align-items: center;
    gap: calc($gutter-size / 2);

    color: $brand-icon;
  }
}

:host::ng-deep.project-rosters {
  .mat-action-row {
    padding: calc($gutter-size / 2) calc($gutter-size * 1.5);
  }
}
