<mat-accordion multi class="project-rosters">
  <ng-container *ngFor="let position of rostersByPosition | keyvalue">
    <mat-expansion-panel [expanded]="!!position.value?.length">
      <mat-expansion-panel-header
        class="project-roster-header"
        [class.is-support]="position.key === supportPosition"
      >
        <mat-panel-title class="project-roster-title">
          <div class="section-header">
            {{ position.key }}
          </div>
          <div *ngIf="!!position.value?.length" class="project-roster-count">
            {{ position.value?.length }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="position.value.length; else empty">
        <app-rosters
          [rosterEmails]="position.value"
          [disabled]="project.name === 'Unallocated'"
          (removeUser)="removeRosterFromSprintProject($event)"
        ></app-rosters>
      </ng-container>
      <ng-template #empty>
        <div class="project-roster-empty">
          <mat-icon [svgIcon]="'feather:frown'"></mat-icon>
          NO ONE HERE!
        </div>
      </ng-template>
      <mat-action-row *ngIf="project.name !== 'Unallocated'">
        <app-add-user
          placeholder="Add new roster"
          [options]="users"
          [position]="position.key"
          (addUser)="addRosterToSprintProject($event)"
        ></app-add-user
      ></mat-action-row>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
