<mat-accordion multi class="project-rosters">
  <ng-container *ngFor="let position of rostersByPosition | keyvalue">
    <mat-expansion-panel [expanded]="!!position.value?.length">
      <mat-expansion-panel-header>
        <mat-panel-title class="project-roster-title">
          {{ position.key }}
          <div *ngIf="!!position.value?.length" class="project-roster-count">
            {{ position.value?.length }}
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-rosters
        [rosterEmails]="position.value"
        (removeUser)="removeRosterFromSprintProject($event)"
      ></app-rosters>
      <mat-action-row>
        <app-add-user
          placeholder="Add new rosters"
          [options]="users"
          [position]="position.key"
          (addUser)="addRosterToSprintProject($event)"
        ></app-add-user
      ></mat-action-row>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
