@import "variables";

.project {
  padding-bottom: $gutter-size * 5;
}
::ng-deep.project {
  .mat-tab-body,
  .mat-tab-body.mat-tab-body-active {
    overflow: hidden;
  }
  .mat-tab-body-content {
    height: inherit;
  }
  .mat-tab-header {
    height: 0 !important;
    max-height: 0 !important;
    border: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}
