<ng-container *ngIf="loading$ | async; else loaded">
  <app-page-loader></app-page-loader>
</ng-container>
<ng-template #loaded>
  <ng-container *ngIf="currentSprint$ | async as currentSprint">
    <div class="projects">
      <app-sprint-projects
        [sprintProjects]="currentSprint.projects"
      ></app-sprint-projects>
    </div>
    <app-page-navigation
      [title]="currentSprint.sprintDate | displayDateRange"
      [disablePrev]="isFirst"
      [disableNext]="isLast"
      (next)="nextSprint()"
      (prev)="prevSprint()"
    ></app-page-navigation>
  </ng-container>
</ng-template>
