@import "variables";

$ICON_SIZE: 20px;

.rosters {
  display: flex;
  flex-direction: column;
  gap: $gutter-size;

  &-action {
    color: $brand-icon;
    &-icon {
      height: $ICON_SIZE;
      width: $ICON_SIZE;
      font-size: $ICON_SIZE;
    }
  }
}
