$brand-primary: #1b1f22;
$brand-accent: #d43f27;
$brand-primary-text: #ffffff;
$brand-accent-text: #ffffff;

$brand-text: #495057;
$brand-background: #f7f7f7;
$brand-border: #e9ecef;

$brand-info: #e0e7ff;
$brand-success: #ccfbf1;
$brand-warning: #f2ba79;
$brand-error: #fca7b4;

$brand-info-text: #3730a3;
$brand-success-text: #115e59;
$brand-warning-text: #f77f00;
$brand-error-text: #fe657d;

$gutter-size: 1rem;

$bg-default: #f1f5f9;
$bg-gray: #f8fafc;

$font-size: 1rem;

$border-radius: 4px;
